.floating-menu-container {
  position: relative;
  display: inline-block;
}

.fab-btn {
  width: 115px;
  height: 40px;
  border-radius: 5%;
  background: #90a4ae00;
  border: 1px solid #68c98c;
  color: #68c98c;
  font-size: 16px;

  cursor: pointer;
}

.menu-popup {
  position: fixed;         /* 讓菜單懸浮在畫面上 */
  top: 50%;                /* 垂直置中 */
  left: 50%;               /* 水平置中 */
  transform: translate(-50%, -50%);  /* 完全置中 */
  z-index: 1000;          /* 保證在最上層 */
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
  padding: 0px 32px 48px 32px;
  min-width: 600px;
  border: 2px solid #dfdfdf;
}

.menu-title {
  font-weight: normal;
  font-size: 28px;
  width: 79%;
  margin-bottom: 32px;
  text-align: center;
  color: #4d4d4d;
}

.menu-options {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.menu-option {
  text-align: center;
  flex: 1;
}

.menu-label {
  margin-bottom: 8px;
  font-size: 24px;
  color: #686868;
}

.menu-add-btn {
  width: 64px;
  height: 64px;
  background: #f0f0f0;
  color: #919191;
  font-size: 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.menu-add-btn:hover {
  background: #a9b9b0;
  color: #ffffff;
}

.menu-close-btn {
  background: transparent;
  border: none;
  width: 10%;
  font-size: 48px;
  color: #696969;
  cursor: pointer;
}
