.navbar {
    position: absolute;
    left: 0;
    width: 15%;
    min-Height: 100vh;
    border-right: 1px solid #4a4661;
    background-color: #282c34;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 75%;
  }
  
  .navbar li {
    align-content: center;
    justify-self: center;

    margin-bottom: 20px;
    /*border-bottom: 1px solid #b2b1be;*/
    width: 80%;
    height: 30px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #c7c7c7;
  }
  .nav-link {
    font-size: 16px;
    color: #c7c7c7;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }
  
  .nav-link.active {
    color: #ffffff; /* 或妳想要的強調色 */
    font-weight: bold;
  }